.TodoList{
    height: 100vh;
    display: flex; 
    justify-content: center;
}
.TodoList_wrapper{
    border: 1px solid rgb(224, 224, 224);
    max-width: 1100px;
    margin:20px auto ;
    padding: 20px;
    
}
.TodoList-title{
   font-size: 40px;
   font-family: 'PT Sans', sans-serif;
   font-weight: 600;
   margin: 10px 0;
}

.TodoList-input-area{
    border: 1px solid rgb(230, 230, 230);
    margin: 10px 0;
}

.TodoList-input-area>input{
   width:400px ;
   padding: 10px;
   border: none;

}

.TodoList-input-area>button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.TodoList_listed_data{
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}
.TodoList_listed_data_wrap{
    display: flex;
}
.TodoList_listed_data_wrap>input{
    cursor: pointer;
}
.TodoList_listed_data_wrap>div{
   font-size: 18px;
   font-family: 'PT Sans', sans-serif;
   margin: 0 20px;

}

.eventButtons{
    /* border: 1px solid black; */
    width: 100px ;
    display: flex;
    justify-content: space-between;
}